/* .shell {
  max-width: 40rem;
  margin: 4rem auto;
  padding: 0 1.5rem;
  text-align: center;
}

.shell h1 {
  margin-bottom: 0.75rem;
}

.shell p {
  color: #4b5563;
} */

.content {
  margin-left: 100px;
  transition: 0.3s;
  &.sidebarExpanded {
    margin-left: 160px;
  }
}