.error {
  color: var(--rojo);
}

/* Section retiros anuales */
a {
  text-decoration: none;
  color: var(--verde-azulado);
}
.section-retiros img {
  width: 25px;
  height: 25px;
}
.section-retiros p {
  margin: 0;
}
.section-div-card {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.collapsed-div-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: .6rem;
}
.collapsed-div-card .fw300 {
  color: var(--gris-oscuro);
  font-size: 0.88rem;
}
.collapsed-div-card span {
  color: var(--verde-selva);
  font-size: 1rem;
}

#ver-recibo-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--verde-azulado);
}
#ver-recibo-link:hover {
  color: var(--gris-oscuro);
}

::ng-deep .card[_ngcontent-ng-c4037116894] {
  padding: .5rem 1rem .5rem 1rem !important;
}

/* .card {
  border: 1px solid var(--azul);
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: var(--azul-bg);
} */


/* ______________________________________________________ */
/* ______________________________________________________ */
/* QUERIES */
@media (min-width: 768px) {
  .collapsed-div-card {
    justify-content: space-between;
  }
}
