.error {
  color: var(--rojo);
}

.optional {
  font-size: 12px;
  color: var(--gris-oscuro);
}

#form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.form-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form-div div {
  width: 100%;
}

.form-div-checks {
  display: flex;
  justify-content: start;
  align-items: last baseline;
}

.form-div-checks div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.form-div-checks div label {
  align-self: center;
}

#section-title {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#div-btn {
  margin-bottom: 1.5rem;
}

.section-users-div {
  display: flex;
  justify-content: space-between;
}

#section-users .div-user-chip div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.div-user-chip p {
  margin: 0 0 0.2rem 0;
}

#section-users app-base-card app-base-card {
  margin: 1rem;
}

#section-users app-base-card app-base-card .div-user-chip {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

#section-users app-base-card app-base-card .div-actions {
  display: flex;
  /* flex-direction: col; */
  gap: 0.5rem;
}

#imgPunto {
  display: none;
}

#section-permisos-rol {
  margin-top: 1rem;
}

#section-permisos-rol div {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* QUERIES */

/* @media (min-width: 480px) { } */

@media (min-width: 768px) {
  #section-users .div-user-chip div {
    /* display: flex; */
    flex-direction: row;
    /* gap: 0.5rem; */
    align-items: last baseline;
  }
  #imgPunto {
    display: inline;
    width: 4px;
    align-self: center;
  }
}

@media (min-width: 800px) {
  #section-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #div-btn {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  #section-users app-base-card app-base-card .div-actions {
    gap: 1rem;
  }
}

/* @media (min-width: 1280px) { } */
