@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

:root {
  /* Paleta de colores */
  --blanco: #ffffff;
  --negro: #000000;

  --gris-blanco: #f4f6f5;
  --gris-claro: #bec4cb;
  --gris-oscuro: #575f66;
  --verde-mate: #4e7c74;
  --verde-bosque: #34554f;
  --verde-petroleo: #2b4540;
  --verde-azulado: #1f2933;

  --verde-bg: #dbfce7;
  --verde-selva: #2e7d32;

  --azul-bg: #dbeafe;
  --azul: #1565c0;

  --rojo-bg: #ffe2e2;
  --rojo: #c62828;

  --ambar: #e6a700;
}

html,
body{
  margin: 0;
  padding: 0;
  font-family: 'Google Sans Flex', sans-serif;
  background-color: var(--gris-blanco);
}

/* QUERIES PARA UTILIZAR (MOBILE FIRST) */

/* @media (min-width: 480px) { } */

/* @media (min-width: 768px) { } */

/* @media (min-width: 1024px) { } */

/* @media (min-width: 1280px) { } */